{% extends "base.html" %}

{% block content %}
<aside class="fh5co-page-heading">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="fh5co-page-heading-lead">
					Authors
				</h1>
			</div>
		</div>
	</div>
</aside>

<table border="1" align="center">
	<col width="100">
	<col width="100">
	<col width="90">
	<col width="200">
	<col width="150">

	<tr>
		<th>Last Name</th>
		<th>First Name</th>
		<th>Book count</th>
		<th>Most Recent Book in List</th>
		<th>Best Seller Date</th>
	</tr>
	<tr>
		<td>Doerr</td>
		<td>Anthony</td>
		<td align="center">1</td>
		<td>All the Light We Cannot See</td>
		<td>2016-03-12</td>
	</tr>
	<tr>
		<td>Hawkins</td>
		<td>Paula</td>
		<td align="center">1</td>
		<td>The Girl on the Train</td>
		<td>2016-03-12</td>
	</tr>
	<tr>
		<td>Lee</td>
		<td>Harper</td>
		<td align="center">1</td>
		<td>Go Set a Watchman</td>
		<td>2016-03-12</td>
	</tr>
</table>
{% endblock %}