 <!DOCTYPE html>
 <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	{% block CustomJS %}
	{% endblock %}
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap-theme.min.css') }}">
	<script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>

	<!-- Changes start here -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>IBDB.ME &mdash; a New York Times Bestsellers Database</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A New York Times Bestsellers Book Database" />
	<meta name="keywords" content="software engineering project, database, New York Times Bestsellers, books" />
	<meta name="team" content="The BookSweepers" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico') }}">

	<!-- Google Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/icomoon.css') }}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/owl.theme.default.min.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/magnific-popup.css') }}">
	<!-- Theme Style -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='/js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
	<![endif]-->

	<!-- end of changes -->
	{% block CustomCSS %}
	{% endblock %}
</head>

<body>
<nav class="navbar navbar-inverse">
	<a class="navbar-brand" href="#">Interactive Book Database</a>
	<ul class="nav nav-pills">
	</ul>
</nav>
	<div class="col-md-12">
		{% block content%}
		{% endblock %}
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			{% block javascript %}
			{% endblock %}
		});
	</script>
</body>
	
</html>