 <!DOCTYPE html>
<html>
<head>
	{% block CustomJS %}
	{% endblock %}
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap-theme.min.css') }}">
	<script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>
	{% block CustomCSS %}
	{% endblock %}
</head>

<body>
<nav class="navbar navbar-inverse">
	<a class="navbar-brand" href="#">Interactive Book Database</a>
	<ul class="nav nav-pills">
	</ul>
</nav>
	<div class="col-md-12">
		{% block content%}
		{% endblock %}
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			{% block javascript %}
			{% endblock %}
		});
	</script>
</body>
	
</html>