{% extends "base.html" %}

{% block content %}
<aside class="fh5co-page-heading">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="fh5co-page-heading-lead">
					Books
				</h1>
			</div>
		</div>
	</div>
</aside>

<table border="1" align="center">
	<col width="200">
	<col width="100">
	<col width="100">
	<col width="150">
	<col width="100">
	<col width="150">
	<col width="150">
	<tr>
		<th>Title</th>
		<th>Author First Name</th>
		<th>Author Last Name</th>
		<th>Publisher</th>
		<th>Best Seller List</th>
		<th>Best Seller Date</th>
		<th>ISBN</th>
	</tr>
	<tr>
		<td>All the Light We Cannot See</td>
		<td>Anthony</td>
		<td>Doerr</td>
		<td>Scribner</td>
		<td>Hardcover</td>
		<td>Best Seller Date</td>
		<td>978-1-4767-4658-6</td>
	</tr>
	<tr>
		<td>The Girl on the Train</td>
		<td>Paula</td>
		<td>Hawkins</td>
		<td>Riverhead</td>
		<td>Hardcover</td>
		<td>Best Seller Date</td>
		<td>978-1-59463-366-9</td>
	</tr>
	<tr>
		<td>Go Set a Watchman</td>
		<td>Harper</td>
		<td>Lee</td>
		<td>HarperCollins</td>
		<td>Hardcover</td>
		<td>Best Seller Date</td>
		<td>978-0-06-240985-0</td>
	</tr>
</table>
{% endblock %}