{% extends "base.html" %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="{{ url_for('static', filename='js/readmore.js') }}"></script>

<div class="controller" ng-app="myHeader" ng-controller="headerCtrl">
	<aside class="fh5co-page-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="fh5co-page-heading-lead">
						{% raw %}
						{{full_name}}
						{% endraw %}
					</h1>
				</div>
			</div>
		</div>
	</aside>
</div>

<div class="controller" ng-app="myApp" ng-controller="authorCtrl">
    <div class="controller" ng-app="myApp" ng-controller="authorCtrl">
        <div class="container-fluid">
            <div class="row-fluid">
                <div align="center" class="col-lg-4 col-md-6 col-lg-offset-2">
                    {% raw %}
                    <img src="{{array.link}}" alt="Author picture"></img>
                    {% endraw %}
                </div>
                <div align="center" class="col-lg-3 col-md-6">
                   {% raw %}
                     <h4>NO. OF BOOKS ON BEST SELLERS LIST</h4>
                     <p>{{array.book_count}}</p>
                   {% endraw %}
                    <h4>LATEST BEST SELLER</h4>
                   
                     <p><a href = "{{url_for('.Book',book_id= author['book_id'])}}">{% raw %}{{array.recent_book}}{% endraw %}</a></p>
                   
                   {% raw %}
                     <h4>LATEST WEEK ON THE LIST</h4>
                     <p>{{array.best_seller_date}}</p>

                     <h4>Biography</h4>
                     <p read-more ng-model="content" words="true" length="100">{{array.bio}}</p>
                </div>
                    {% endraw %}
            </div>
        </div>
    </div>
</div>
 <div class="fh5co-spacer-lg"></div>

{% endblock %}


{% block javascript %}
var a = angular.element( document.querySelector( '#authors' ) );
    a.addClass('active');

var happ = angular.module('myHeader', []);
happ.controller('headerCtrl', function($scope){
	$scope.array = {{author|safe}};
	$scope.full_name = $scope.array.first_name + " " + $scope.array.last_name;

});

var app = angular.module('myApp', ["readMore"]);
app.controller('authorCtrl', function($scope){
	$scope.array = {{author|safe}};
	$scope.full_name = $scope.array.first_name + " " + $scope.array.last_name;

});

angular.element(document).ready(function() {
 	angular.bootstrap(document, ['myHeader','myApp'])});

{% endblock %}