{% extends "base.html" %}

{% block content %}
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<div class="controller" ng-app="myHeader" ng-controller="headerCtrl">
	<aside class="fh5co-page-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="fh5co-page-heading-lead">
						{% raw %}
						{{full_name}}
						{% endraw %}
					</h1>
				</div>
			</div>
		</div>
	</aside>
</div>

<div class="controller" ng-app="myApp" ng-controller="authorCtrl">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-sm-6">
				{% raw %}
					<h4>Number of books that have been on the Best Sellers List</h4>
					<p>{{array.book_count}}</p>
				{% endraw %}
					<h4>Latest book on the Best Sellers List</h4>
				{% raw %}
					<p><a href = "{{url_for('.Book',book_id= author.book_id)}}">{{array.recent_book}}</a></p>
				{% endraw %}
				{% raw %}
					<h4>Latest week the book has been on the Best Sellers List</h4>
					<p>{{array.best_seller_date}}</p>
			</div>
			<div class="fb-page" data-href="{{array.Link}}" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="{{array.Link}}"><a href="{{array.Link}}">{{full_name}}</a></blockquote></div>
			</div>
			{% endraw %}
		</div>
	</div>
{% endblock %}


{% block javascript %}
var happ = angular.module('myHeader', []);
happ.controller('headerCtrl', function($scope){
	$scope.array = {{author|safe}};
	$scope.full_name = $scope.array.first_name + " " + $scope.array.last_name;

});

var app = angular.module('myApp', []);
app.controller('authorCtrl', function($scope){
	$scope.array = {{author|safe}};
	$scope.full_name = $scope.array.first_name + " " + $scope.array.last_name;

});

angular.element(document).ready(function() {
 	angular.bootstrap(document, ['myHeader','myApp'])});

{% endblock %}
