{% extends "base.html" %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="{{ url_for('static', filename='js/dirPagination.js') }}"></script>

<aside class="fh5co-page-heading">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="fh5co-page-heading-lead">
					Authors
				</h1>
			</div>
		</div>
	</div>
</aside>



<div align="center" class="container controller" ng-app="myApp" ng-controller="authorsCtrl">
	<form>
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search author" ng-model="searchAuthor">
			</div>
		</div>
	</form>
	<table class="col-lg-8 table table-hover" align="center">
		<thead>
			<tr>
				<th>
					<a href='#' ng-click="sortType = 'first_name'; sortReverse = !sortReverse">
						First Name
					<span ng-show="sortType == 'first_name' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'first_name' && sortReverse" class="fa fa-caret-up"></span>
				</th>
				<th>
					<a href='#' ng-click="sortType = 'last_name'; sortReverse = !sortReverse">
					Last Name
					<span ng-show="sortType == 'last_name' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'last_name' && sortReverse" class="fa fa-caret-up"></span>
				</th>
				<th>
					<a href='#' ng-click="sortType = 'book_count'; sortReverse = !sortReverse">
					Book count
					<span ng-show="sortType == 'book_count' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'book_count' && sortReverse" class="fa fa-caret-up"></span>
				</th>
				<th>
					<a href='#' ng-click="sortType = 'recent_book'; sortReverse = !sortReverse">
					Most Recent Book in List
					<span ng-show="sortType == 'recent_book' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'recent_book' && sortReverse" class="fa fa-caret-up"></span>
				</th>
				<th>
					<a href='#' ng-click="sortType = 'best_seller_date'; sortReverse = !sortReverse">
					Best Seller Date
					<span ng-show="sortType == 'best_seller_date' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'best_seller_date' && sortReverse" class="fa fa-caret-up"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			{% raw %}
			<tr dir-paginate="x in array | orderBy:sortType:sortReverse | filter:searchAuthor | itemsPerPage:10" class="clickable-row" data-href="{{x.link}}">
				<td>{{x.first_name}}</td>
				<td>{{x.last_name}}</td>
				<td>{{x.book_count}}</td>
				<td>{{x.recent_book}}</td>
				<td>{{x.best_seller_date}}</td>
				{% endraw %}
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"></dir-pagination-controls>
</div>
{% endblock %}

{% block javascript %}
var a = angular.element( document.querySelector( '#authors' ) );
	a.addClass('active');

var app = angular.module('myApp', ['angularUtils.directives.dirPagination']);
app.controller('authorsCtrl', function($scope){
	$scope.sortType = 'last_name';
	$scope.sortReverse = false;
	$scope.searchAuthor = '';

	$scope.array = [
		{% for author in authors %}
			{% do author.update({'link':url_for('.Author',author_id=author["id"])}) %}
			{{ author|safe }} ,
		{% endfor %}
	];
});
{% endblock %}
