{% extends "base.html" %}





{% block content %}
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<div class="controller" ng-app="myHeader" ng-controller="headerCtrl">
	<aside class="fh5co-page-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="fh5co-page-heading-lead">
						{% raw %}
						{{array.title}}
						{% endraw %}
					</h1>
				</div>
			</div>
		</div>
	</aside>
</div>

<div class="controller" ng-app="myApp" ng-controller="bookCtrl">
{% raw %}
	<img src="{{array.Link}}"></img>
{% endraw %}

<p>Author: <a href = "{{url_for('.Author',author_id = book.author_id)}}">{% raw %}{{full_name}}{% endraw %}</a></p>

{% raw %}
	<p>Publisher: {{array.publisher}}</p>
	<p>Latest week on the Best Sellers List: {{array.best_seller_date}}</p>
	<p>International Standard Book Number (ISBN): {{array.ISBN}}</p>
{% endraw %}
</div>
{% endblock %}

{% block javascript %}
var happ = angular.module('myHeader', []);
happ.controller('headerCtrl', function($scope){
	$scope.array = {{book|safe}};
});

var app = angular.module('myApp', []);
app.controller('bookCtrl', function($scope){
	$scope.array = {{book|safe}};
	$scope.full_name =$scope.array.first_name + " " + $scope.array.last_name;
});

angular.element(document).ready(function() {
  	angular.bootstrap(document, ['myHeader','myApp'])});

{% endblock %}