{% extends "base.html" %}

{% block content %}

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<div class="controller" ng-app="myHeader" ng-controller="headerCtrl">
	<aside class="fh5co-page-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="fh5co-page-heading-lead">
						{% raw %}
						{{array.title}}
						{% endraw %}
					</h1>
				</div>
			</div>
		</div>
	</aside>
</div>

<div class="controller" ng-app="myApp" ng-controller="bookCtrl">
    {% raw %}
    <img src="{{array.Link}}"></img>
    {% endraw %}
    <h3>Author: <a href = "{{url_for('.Author',author_id = book.author_id)}}">{% raw %}{{full_name}}{% endraw %}</a></h3>

    {% raw %}
    <h3>Publisher: {{array.publisher}}</h3>
    <h3>Latest week on the Best Sellers List: {{array.best_seller_date}}</h3>
    <h3>International Standard Book Number (ISBN): {{array.ISBN}}</h3>
    {% endraw %}
</div>
{% endblock %}

{% block javascript %}
var happ = angular.module('myHeader', []);
happ.controller('headerCtrl', function($scope){
	$scope.array = {{book|safe}};
});

var app = angular.module('myApp', []);
app.controller('bookCtrl', function($scope){
	$scope.array = {{book|safe}};
	$scope.full_name =$scope.array.first_name + " " + $scope.array.last_name;
});

angular.element(document).ready(function() {
  	angular.bootstrap(document, ['myHeader','myApp'])});

{% endblock %}