{% extends "base.html" %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<aside class="fh5co-page-heading">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="fh5co-page-heading-lead">
					Books
				</h1>
			</div>
		</div>
	</div>
</aside>

<div class="controller" ng-app="myApp" ng-controller="booksCtrl">
	<form>
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search book" ng-model="searchBook">
			</div>      
		</div>
	</form>
	<table border="1" align="center">
		<col width="200">
		<col width="100">
		<col width="100">
		<col width="150">
		<col width="100">
		<col width="150">
		<col width="150">
		<thead>
			<tr>
				<th>
					<a href='#' ng-click="sortType = 'title'; sortReverse = !sortReverse">
					Title
					<span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
				</th>
				<th>
					<a href='#' ng-click="sortType = 'firstName'; sortReverse = !sortReverse">
					First Name
					<span ng-show="sortType == 'firstName' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'firstName' && sortReverse" class="fa fa-caret-up"></span>
				</th>
				<th>
					<a href='#' ng-click="sortType = 'lastName'; sortReverse = !sortReverse">
					Last Name
					<span ng-show="sortType == 'lastName' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'lastName' && sortReverse" class="fa fa-caret-up"></span>
				</th>
				<th>
					<a href='#' ng-click="sortType = 'publisher'; sortReverse = !sortReverse">
					Publisher
					<span ng-show="sortType == 'publisher' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'publisher' && sortReverse" class="fa fa-caret-up"></span>
				</th>
				<th>
					<a href='#' ng-click="sortType = 'list'; sortReverse = !sortReverse">
					Best Seller List
					<span ng-show="sortType == 'list' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'list' && sortReverse" class="fa fa-caret-up"></span>
				</th>
				<th>
					<a href='#' ng-click="sortType = 'date'; sortReverse = !sortReverse">
					Best Seller Date
					<span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
				</th>
				<th>
					<a href='#' ng-click="sortType = 'ISBN'; sortReverse = !sortReverse">
					ISBN
					<span ng-show="sortType == 'ISBN' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'ISBN' && sortReverse" class="fa fa-caret-up"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in array | orderBy:sortType:sortReverse | filter:searchBook">
			{% raw %}
				<td>{{x.title}}</td>
				<td>{{x.first_name}}</td>
				<td>{{x.last_name}}</td>
				<td>{{x.publisher}}</td>
				<td>{{x.best_seller_list}}</td>
				<td>{{x.best_seller_date}}</td>
				<td>{{x.ISBN}}</td>
			{% endraw %}
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
{% block javascript %}
var app = angular.module('myApp', []);
app.controller('booksCtrl', function($scope){
	$scope.sortType = 'title';
	$scope.sortReverse = false;
	$scope.searchBook = '';

	$scope.array = {{books|safe}};
});
{% endblock %}
