{% extends "base.html" %}
{% block content %}
<div class="fh5co-slider">
		<div class="owl-carousel owl-carousel-fullwidth">
		    <div class="item" style="background-image:url({{ url_for('static', filename='images/nyc.jpg') }})">
		    	<div class="fh5co-overlay"></div>
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text text-center to-animate">
						    		<h1 class="fh5co-lead">Welcome to IBDB.ME</h1>
									<h2 class="fh5co-sub-lead">The Interactive Books Database is a free resource providing information on The New York Times Bestselling list.</h2>
						    	</div>
						    </div>
					    </div>
		    		</div>
		    	</div>
		    </div>
		    <div class="item" style="background-image:url({{ url_for('static', filename='images/slide_2_books.jpg') }})">
		    	<div class="fh5co-overlay"></div>
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text text-center to-animate">
						    		<h1 class="fh5co-lead">Books</h1>
									<h2 class="fh5co-sub-lead">You read them.</h2>
						    	</div>
						    </div>
					    </div>
		    		</div>
		    	</div>
		    </div>
		    <div class="item" style="background-image:url({{ url_for('static', filename='images/slide_3_author.jpg') }})">
		    	<div class="fh5co-overlay"></div>
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text text-center to-animate">
						    		<h1 class="fh5co-lead">Authors</h1>
									<h2 class="fh5co-sub-lead">They write books.</h2>
						    	</div>
						    </div>
					    </div>
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>	
	<div id="fh5co-main">
		<!-- Features -->

		<div id="fh5co-features">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="fh5co-section-lead">What is The New York Times Bestsellers List?</h2>
						<h3 class="fh5co-section-sub-lead">From its first iteration in The New York Times on October 12, 1931, The New York Times Best Seller list has become the leading list monitored by book readers, writers, and publishers. The list is based on weekly sales reports of wholesalers, and independent and chain bookstores across the United States. </h3>
					</div>
					<div class="fh5co-spacer fh5co-spacer-md"></div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 fh5co-feature-border">
						<div class="fh5co-feature">
							<div class="fh5co-feature-icon to-animate">
								<i class="icon-open-book"></i>
							</div>
							<div class="fh5co-feature-text">
								<h3>Books</h3>
								<p>Description of what is on the Book page</p>
								<p><a href="{{ url_for('.Books')}}">Read more</a></p>
							</div>
						</div>
						<div class="fh5co-feature no-border">
							<div class="fh5co-feature-icon to-animate">
								<i class="icon-head"></i>
							</div>
							<div class="fh5co-feature-text">
								<h3>Authors</h3>
								<p>Description of the Authors page</p>
								<p><a href="{{ url_for('.Authors')}}">Read more</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
<!-- 						<div class="fh5co-feature">
							<div class="fh5co-feature-icon to-animate">
								<i class="icon-print"></i>
							</div>
							<div class="fh5co-feature-text">
								<h3>Publishers</h3>
								<p>You know.</p>
								<p><a href="publishers.html">Read more</a></p>
							</div>
						</div> -->
						<div class="fh5co-feature no-border">
							<div class="fh5co-feature-icon to-animate">
								<i class="icon-emoji-happy"></i>
							</div>
							<div class="fh5co-feature-text">
								<h3>Meet the Team</h3>
								<p>Because we worked really hard for this.</p>
								<p><a href="{{ url_for('.About')}}">Read more</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Features -->
		
		<!-- Quote -->
		<div class="fh5co-bg-section" style="background-image: url({{ url_for('static', filename='images/slide_2_books_blur.png') }}); background-attachment: fixed;">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="fh5co-hero-wrap">
							<div class="fh5co-hero-intro text-center">
								<h1 class="fh5co-lead"><span class="quo">&ldquo;</span>Books are the perfect entertainment: no commercials, no batteries, hours of enjoyment for each dollar spent. What I wonder is why everybody doesn't carry a book around for those inevitable dead spots in life. <span class="quo">&rdquo;</span></h1>
								<p class="author">&mdash; <cite>Stephen King</cite></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Quote -->
	</div>
{% endblock %}